{% extends "base.html" %}

{%block head_title%} {{instance.name}} {%endblock head_title%}

{% block content %}

<div class="card" style="width: 20rem;"> 
    <div class="card-body">
        <h5 class="card-title">{{instance.name}}</h5>
        {% if instance.image %}    
            <img src='{{instance.image.url}}' class='img-responsive' style="width:200px;height:200px;"/> 
        {% endif %}
        <p class="card-text">
            {{instance.number}}<br/>
            {{instance.email}}<br/></p>
        <a href="edit/" class="btn btn-Secondary">Update</a>
        <a href="delete/" class="btn btn-Secondary">Delete</a>        
    </div>    
</div>        
   

{% endblock content %}